/build/
/bibliotecaWebAJAX/build/
/bibliotecaWebAJAX/nbproject/private/
/bibliotecaWebRESTAPI/nbproject/private/
/bibliotecaWebRESTAPI/dist/
/bibliotecaWebRESTAPI/build/
/bibliotecaWeb/nbproject/private/
/bibliotecaWeb/build/
/bibliotecaWeb/dist/
/bibliotecaWebAJAX/dist/
/RESTAPI/nbproject/private/
/RESTAPI/build/
/RESTAPI/dist/
/hashDemo/nbproject/private/
/hashDemo/build/
